@font-face {
    font-family: Bitwise;
    src: url(Fonts/Bitwise/bitwise.woff);
}

html
{
    overflow: scroll;
}

body 
{
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: white;
    background-size: 100% 100%;
    margin: 0;
    overflow: scroll;

/* for Arista font*/
    font-family: Bitwise;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

ul
{   
    /*background-color: white;*/
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 50px;
    /*box-shadow: 0px 5px 5px darkgray;*/
}
    
li
{
    float: left;
    opacity: 1;
}

li a
{
    border-left: 20px black;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    max-height: 50px;
    height: 20px;
    padding-top: 18px;
    padding-bottom: 12px;
}


li a:hover 
{
    background-color: black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,192,192,0)), color-stop(100%,rgba(192,192,192,0.8)));     /*makes the color fade out*/
}


.title
{
    width: 75%;
    height: 10%;
    margin-left: 10%;
    font-size: 400%;
    text-align: center;
}

footer
{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5%;
    height: 12%;
    bottom: 0;
}


/*slant effect taken from: http://lawrencenaman.com/css/responsive-slanted-divs-with-css/*/

.slant 
{
    z-index: 1;
    /*background: black;*/
    /*position: relative;*/
}

.slant:before
{
  content: '';
  position: absolute;
  left: 0;
  top: -10%;
  width: 100%;
  height: 50%;
  z-index: -1;
  /*background: black;*/
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}


#round
{
    background-color: lightgray;
    border-radius: 15px 50px;
    border: 3px solid #333;
    padding: 30px; 
    width: 80%;
    height: 20%; 
    margin-left: 5%;
    margin-bottom: 10px;
}

#right
{
    float: right;
    padding-right: 5px;
}

#left
{
    float: left;
}

/* mobile styles */
@media handheld {

    html, body {
        font: 12px/15px sans-serif;
        background: #fff;
        padding: 3px;
        color: #000;
        margin: 0;

        }
    #sidebar, #footer {
        display: none;
        }
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        }
    #content img { 
        max-width: 250px;
        }
    .center {
        width: 100% !important;
        text-align: center;
        }
    a:link, a:visited {
        text-decoration: underline;
        color: #0000CC;
        }
    a:hover, a:active {
        text-decoration: underline;
        color: #660066;
        }

}
/* iPhone-specific styles */
@media only screen and (max-device-width: 480px) { 

    html {
        -webkit-text-size-adjust: none;
        }

}

